.popper {
    position: relative;
    height: 100%;
    background-color: var(--white);
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex: 2;

    ~ .popper {
        flex: 1;
    }
}

.body {
    width: 100%;
    height: 100%;
    border: 2px solid var(--color-search);
    border-radius: 8px;
}

.inner {
    height: 100%;
    width: 100%;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    padding: 8px;

    &:hover {
        border-color: red;
        border-radius: 6px;
    }

    .search-place {
        width: 100%;
    }

    input {
        padding: 4px 16px 4px 8px;
        height: 100%;
        width: 334px;
        caret-color: #333;
        color: var(--black);
        font-size: 1.4rem;
        font-weight: 500;
        font-family: var(--font-family);
        background-color: white;
    }
}

.clear,
.loading {
    position: absolute;
    color: #666;
    font-size: 1.6rem;
    right: 8px;
    top: 50%;
    translate: 0 -50%;
    padding: 8px;
    background-color: transparent;
    padding: 2px;
    margin-right: 8px;
}

.loading {
    animation: slew 1s linear infinite;
}

@keyframes slew {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.wrapper {
    width: 280px;
}
