@import 'normalize.css';

:root {
    --primary-color: rgb(126, 126, 237);
    --black: #000;
    --white: #fff;
    --text-color: #333;
    --font-family: 'TikTokFont', sans-serif;

    --search-background-color: #f1f1f2;

    // default layout
    --default-layout-header-height: 124px;
    --default-layout-width: 1520px;
    --default-border-radius: 8px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: var(--font-family);
    font-size: 1.6rem;
    color: var(--text-color);
    overflow-y: overlay;
}

html ::-webkit-scrollbar {
    border-radius: 0px;
    width: 8px;
}

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.3);
}

html ::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

// Fonts

// @font-face {
//     font-family: TikTokFont;
//     src: url('/assets/fonts/TikTokFont-Regular.woff2');
//     font-weight: 400;
// }

// @font-face {
//     font-family: TikTokFont;
//     src: url('/assets/fonts/TikTokFont-Semibold.woff2');
//     font-weight: 600;
// }

// @font-face {
//     font-family: TikTokFont;
//     src: url('/assets/fonts/TikTokFont-Bold.woff2');
//     font-weight: 700;
// }

// @font-face {
//     font-family: TikTokDisplayFont;
//     src: url('/assets/fonts/TikTokDisplayFont-Semibold.woff2');
//     font-weight: 600;
// }

// @font-face {
//     font-family: TikTokDisplayFont;
//     src: url('/assets/fonts/TikTokDisplayFont-Bold.woff2');
//     font-weight: 700;
// }

// Custom tippy tooltip

body {
    .tippy-box {
        background-color: rgba(84, 84, 84, 0.92);
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
        border-radius: 8px;
    }

    .tippy-content {
        padding: 8px 9px;
    }

    .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
        top: -8px;
        color: rgba(84, 84, 84, 0.92);
    }
}
